.summary{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
    /* grid-auto-columns: minmax(200px, auto); */
}

.section{
/* background-color: red; */
padding: 1rem 2rem;
border-radius: 0.3rem;
color: white;
text-align: center;
}

.totalOrders{
    background-color: #478C28;
}

.delivered{
    background-color:#D93250 ;
}

.amount{
    background-color: #F2A922;
}

.pending{
    background-color: #F2784B;
}